{% extends "base_generic.html" %}

{% block title %}
  <title>Main</title>
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'maps/css/index.css' %}">
  <h1 class="content-title">Main</h1>
  <ul class="tiles">
    <li class="tile">
      <a class="tile__container-link" href="{% url 'maps_list' %}">
				<h2 class="tile__title">Maps</h2>
				<!-- <img class="cover__background" src="./images/cover-trains.jpg"> -->
			</a>
    </li>
    <li class="tile">
      <a class="tile__container-link" href="{% url 'maps_list' %}">
				<h2 class="tile__title">Maps</h2>
				<!-- <img class="cover__background" src="./images/cover-trains.jpg"> -->
			</a>
    </li>
    <li class="tile">
      <a class="tile__container-link" href="{% url 'maps_list' %}">
				<h2 class="tile__title">Maps</h2>
				<!-- <img class="cover__background" src="./images/cover-trains.jpg"> -->
			</a>
    </li>
    <li class="tile">
      <a class="tile__container-link" href="{% url 'maps_list' %}">
				<h2 class="tile__title">Maps</h2>
				<!-- <img class="cover__background" src="./images/cover-trains.jpg"> -->
			</a>
    </li>
  </ul>

{% endblock %}